[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
SQLAlchemy = "*"
pytz = "*"
Flask-WTF = "*"
Flask-Login = "*"
is-safe-url = "*"
wtforms-components = "*"

[dev-packages]
ipython = "*"
pylint = "<2.0.0"

[requires]
python_version = "3.7"
