{% extends "base.html" %}
{% set active_page = "list" %}

{% block body %}
<h1 class="mb-4">These are the recorded expenses</h1>
<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Amount</th>
      <th>Store</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
  {% for expense in expenses %}
    <tr>
      <td>{{ expense.timestamp.strftime('%Y-%m-%d') }}</td>
      <td>{{ expense.amount | round(2) }}</td>
      <td>{{ expense.store | title }}</td>
      <td>{{ expense.user.username }}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock %}
